*.o
*.a
*.so
sources/odyssey
sources/version.h
stress/odyssey_stress
tests/odyssey_test
third_party/machinarium/sources/build.h
third_party/machinarium/benchmark/benchmark_csw
third_party/machinarium/benchmark/benchmark_channel
third_party/machinarium/benchmark/benchmark_channel_shared
third_party/machinarium/tests/machinarium_test
