*.o
*.a
*.so
.idea/
sources/odyssey
sources/build.h
stress/odyssey_stress
test/odyssey_test
third_party/machinarium/sources/build.h
third_party/machinarium/benchmark/benchmark_csw
third_party/machinarium/benchmark/benchmark_channel
third_party/machinarium/benchmark/benchmark_channel_shared
build/
docker/odyssey.conf
