version: '3'

services:
  odyssey:
    ulimits:
      core:
        soft: -1
        hard: -1
    privileged: true
    build:
      dockerfile: ./docker/Dockerfile
      context: .
    environment:
      CMAKE_BUILD_TYPE: "${CMAKE_BUILD_TYPE:-Debug}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      od_net:
        ipv4_address: 192.168.233.15

  openldapr:
    image: "osixia/openldap:1.5.0"
    networks:
      od_net:
        ipv4_address: 192.168.233.16
  
  gorm-test:
    build:
      context: https://github.com/pg-sharding/gorm-spqr.git#main
    environment: 
      DB_HOST: "odyssey"
      DB_PORT: "6432"
      DB_USER: "spqr-console"
      DB_NAME: "spqr-console"
    networks:
      od_net:
        ipv4_address: 192.168.233.17

networks:
  od_net:
    driver: bridge
    ipam:
      driver: default
      config:
       - subnet: 192.168.233.0/24
         #       - gateway: 192.168.233.1
