Source: odyssey
Section: database
Priority: optional
Maintainer: mdb <mdb-admin@yandex-team.ru>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), make, cmake, libssl-dev (>= 1.0.1), libpam-dev, libzstd-dev, zlib1g-dev, libsystemd-dev
Homepage: https://github.com/yandex/odyssey

Package: odyssey
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Scalable PostgreSQL connection pooler.
 Advanced multi-threaded PostgreSQL connection pooler and request router.
 Odyssey is production-ready, it is being used in large production setups.
 We appreciate any kind of feedback and contribution to the project.


Package: odyssey-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, odyssey
Description: Debug symbols for odyssey
