name: Format
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Check format
      run: make check-format
