name: Quickstart image test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  quickstart-image-build:
    name: quickstart-image-build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Odyssey quickstart image test
      run: make quickstart_test
